<h1>Listing tours</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Cupo total</th>
      <th>Id estado</th>
      <th>Cupo disponible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.fecha %></td>
        <td><%= tour.hora %></td>
        <td><%= tour.cupo_total %></td>
        <td><%= tour.id_estado %></td>
        <td><%= tour.cupo_disponible %></td>
        <td><%= link_to 'Show', tour %></td>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour', new_tour_path %>
