<h1>Listing reservacions</h1>

<table>
  <thead>
    <tr>
      <th>Id tour</th>
      <th>Num cupos adulto</th>
      <th>Num cupos nino</th>
      <th>Id cliente</th>
      <th>Id estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservacions.each do |reservacion| %>
      <tr>
        <td><%= reservacion.id_tour %></td>
        <td><%= reservacion.num_cupos_adulto %></td>
        <td><%= reservacion.num_cupos_nino %></td>
        <td><%= reservacion.id_cliente %></td>
        <td><%= reservacion.id_estado %></td>
        <td><%= link_to 'Show', reservacion %></td>
        <td><%= link_to 'Edit', edit_reservacion_path(reservacion) %></td>
        <td><%= link_to 'Destroy', reservacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservacion', new_reservacion_path %>
